<nav class="navbar2 navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <div class="" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="#">Home/</a> &nbsp;
        <a class="nav-link" href="#">Dashboard</a>
      </div>
    </div>
  </div>
</nav>
<div class="container">
  <div class="row my-4">
    <div class="col-md-3">
      <div class="card text-white bg-primary mb-3 border-primary">
        <div class="card-header d-flex align-items-center">
          26K
          <span class="card-text ms-2">(2.3% ↑)</span>
        </div>
        <div class="card-body">
          <h5 class="card-title big-font">Users</h5>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card text-white bg-info mb-3 border-info">
        <div class="card-header d-flex align-items-center">
          $6,200
          <span class="card-text ms-2">(0.1% ↑)</span>
        </div>
        <div class="card-body">
          <h5 class="card-title big-font">Income</h5>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card text-white bg-warning mb-3 border-warning">
        <div class="card-header d-flex align-items-center">
          2.49
          <span class="card-text ms-2">(0.3% ↑)</span>
        </div>
        <div class="card-body">
          <h5 class="card-title big-font">Conversion Rate</h5>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card text-white bg-danger mb-3 border-danger">
        <div class="card-header d-flex align-items-center">
          44K
          <span class="card-text ms-2">(2.1% ↓)</span>
        </div>
        <div class="card-body">
          <h5 class="card-title big-font">Sessions</h5>
          <div class="icon">
            <!-- <i class="bi bi-bar-chart-fill fs-1"></i> -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="card mb-3">
        <div class="card-header">Traffic</div>
        <!-- <div class="card-body">
          <h6 class="card-subtitle mb-2 text-muted">January - December 2023</h6>
          <div
            class="btn-group mb-3"
            role="group"
            aria-label="Time period selection"
          >
            <button type="button" class="btn btn-outline-primary">Day</button>
            <button type="button" class="btn btn-outline-primary active">
              Month
            </button>
            <button type="button" class="btn btn-outline-primary">Year</button>
          </div>
          <canvas
            baseChart
            [datasets]="lineChartData"
            [labels]="lineChartLabels"
            [options]="lineChartOptions"
            [colors]="lineChartColors"
            [legend]="lineChartLegend"
            [chartType]="lineChartType"
          >
          </canvas>
        </div> -->
      </div>
    </div>
  </div>
</div>
