<div class="container mt-5">
    <h3 class="mb-4">Enquiry Details</h3>
    <div class="card">

        <div class="card-body">
            <div class="row mb-3">
                <div class="col-md-3 text-muted">Name:</div>
                <div class="col-md-9">{{ enquiry.firstName }}</div>
            </div>
            <div class="row mb-3">
                <div class="col-md-3 text-muted">Surname:</div>
                <div class="col-md-9">{{ enquiry.lastName }}</div>
            </div>
            <div class="row mb-3">
                <div class="col-md-3 text-muted">Email:</div>
                <div class="col-md-9">{{ enquiry.email }}</div>
            </div>
            <div class="row mb-3">
                <div class="col-md-3 text-muted">Message:</div>
                <div class="col-md-9">{{ enquiry.message }}</div>
            </div>
        </div>

    </div>
</div>
