<div
  class="d-flex flex-column flex-shrink-0 p-3 bg-light"
  style="width: 280px; height: 100vh; background-color: #212631 !important"
>


  <div class="menu-items" id="sidebarMenu">
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <a href="/" class="nav-link active" aria-current="page"><i class="bi bi-speedometer2" style="color: white;" ></i> Dashboard </a>
      </li>
      <li>
        <a href="/enquiries" class="nav-link "><i class="bi bi-ui-checks"  style="color: white;"></i> Enquries </a>
      </li>

    </ul>
  </div>
</div>
